:root {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #315168;
  color: #ffffff;
  max-width: 100vw;
  overflow-x: hidden;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding:25px 0;
  font-size: 12px;
}
@media (max-height: 668px) {
  footer {
    position: relative;
  }
}
@media (max-width: 425px) {
  footer {
    position: relative;
  }
}

/** Btn */

.btn{
  display: inline-block;
  text-decoration: none;
  border-radius: 11px;
  cursor: pointer;
  background: #D9D9D9;
  outline: none;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.20) inset;
  color: #031B2D;
  text-align: center;
  outline: none;
  font-family: '__Open_Sans_a5ed60', '__Open_Sans_Fallback_a5ed60';
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  padding: 15px 80px;
}

@media (max-width: 768px) {
  .btn {
    padding: 10px 70px;
  }
}


/** Input **/

input{
  background: #D9D9D9;
  border: none;
  padding: 15px;
  outline: none;
}

@media (max-width: 768px) {
  input {
    padding: 10px;
  }
}

label{
  font-size: 20px;
  display: block;
  margin: 10px 0;
}
@media (max-width: 768px) {
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

/** Loading **/

.loading-container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  display:flex;
  align-items:  center;
  justify-content:center;
  background: url("/background-loading.png"), lightgray 50% / cover no-repeat;
}

.loading-container::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.register-icon{
  text-decoration: none;
}
.profile-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #FFF;
  border-radius:50%;
  margin: 0 auto;
  color: #315168;
}

.loading-container .loader {
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(0, 0, 0, 0.30);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/** FormFindVisa **/
.form-find-visa-header , .header{
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}

.form-find-visa-body{
  padding: 30px 0 50px 0;
  max-width: 591px;
  margin: 0 auto;
}

.form-find-visa h1{
  font-size: 120px;
  font-weight: 600;
}


.form-find-visa h2{
  font-size: 36px;
  font-weight: 600;
  padding-left: 55px;
  margin-bottom: 20px;
}

.form-find-visa form{
  padding: 10px 45px 30px 45px;
}

.form-find-visa form input{
  width: 100%;
}

.form-find-visa .form-item.second{
  margin: 45px 0 20px 0;
}

.form-find-visa .container-button{
  margin: 85px 0 0 0;
  text-align: center;

}

@media (max-width: 768px) {
  .form-find-visa-header {
    align-items: center;
  }
  .form-find-visa-body {
    padding-bottom: 30px;
  }
  .form-find-visa-header .logo img, .form-find-visa-header .register-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .form-find-visa-header .logo, .form-find-visa-header .register-icon {
    width: 45px;
    height: 45px;
  }
  .form-find-visa-header .register-icon {
    width: 50px;
    height: 50px;
  }
  .form-find-visa h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
  }
  .form-find-visa h2 {
    font-size: 21px;
    padding-left: 30px;
  }
  .form-find-visa form {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-find-visa .form-item.second {
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .form-find-visa h1 {
    font-size: 33px;
    margin-bottom: 85px;
  }
} 

/** **/

.forms-container{
  display: flex;
  justify-content: center;
  align-items:center;
}

/** **/

.form-register.login{
  margin-top: 80px;
}

.form-register-body.login{
  width: 100%;
}

.form-register-title.login h2{
  font-size: 22px;
  font-weight: 400;
}

.form-register.login form{
  padding: 0;
}
.form-register-body.login .form-item{
  max-width: 100%;
  margin: 25px auto;
}
.form-register-body.login .form-item input{
  margin:  0 auto;
  min-width: 330px;
  max-width: 100%;
}

/** Form Register **/

.form-register-body{
  max-width: 542px;
  margin: 0 auto;
  padding: 40px 0 80px 0;

}

.form-register-title h1{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 45px;
}

.form-register-header{
  padding: 25px;
}

.form-register h2{
  font-size: 22px;
  font-weight: 400;
}
.form-register  form{
  padding:0 100px;
}
.form-register input{
  width: 100%;
  padding: 10px;
}

.form-register-body .form-item{
  margin: 25px 0;
}

.form-register-body .form-item label{
  font-size: 16px;
}

.form-register .container-button{
  text-align: center;
  margin: 35px 0;
}
.form-register .container-button .btn{
  padding: 10px 60px;
}
.form-register .container-login{
  text-align: center;
}
.form-register .container-login span{
  display: block;
  margin-bottom: 25px;
}
.form-register .container-login .btn{
  padding: 10px 60px;
}

@media (max-width: 768px) { 
  .form-register form {
    padding: 0 30px;
  }
  .form-register-title h1 {
    padding: 0 30px;
  }
 .form-register-header a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .form-register-header a {
    width: 40px;
    display: block;
  }
}
@media (max-width: 425px) {
  .form-register-title h1 {
    font-size: 22px;
    text-align: center;
    padding: 0 10px;
  }
  .form-register h2 {
    font-size: 18px;
  }
  .form-register .container-button {
    margin-bottom: 60px;
  }
  .form-register .container-login span {
    text-align: left;
  }
  .form-register-body.login .form-item{
    max-width: 90%;
  }
  .form-register-body.login .form-item input{
    min-width: 100%;
    max-width: 100%;
  }
} 

/** Profile **/
.profile-header{
  padding:25px;
}

.profile-body h1{
  font-size: 28px;
  margin-bottom: 35px;
  font-weight: 400;
}
.profile-body{
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.profile-details{
  margin-top: 20px;
  margin-bottom: 100px;
}
.profile-details span{
  display: block;
}

.profile-body .btn{
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .profile-header {
    margin-bottom: 45px;    
  }
  .profile-header .logo {
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  .profile-header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-body .profile-image {
    width: 195px;
  }
}
/** saved-trips-page **/

.saved-trips-page{
}

.saved-trips-cards{
  display: flex;
  max-width: 1000px;
  margin:  0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  gap: 20px;
}
.card-trip{
  cursor: pointer;
  margin: 35px 0;
}
.card-trip-title{
  display:block;
  text-transform: capitalize;
  padding-top: 7px;
}
.card-trip-image{
  position: relative;
  width: 206px;
  height: 207px;
  background: #D9D9D9;
  transition: all 0.4s ease-in-out;
}


.card-trip-image:hover::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;

}

.card-trip-image:hover .remove-trip{
  opacity: 1;
  z-index: 10;
}

.remove-trip{
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 30px;
}

.remove-trip::after , .remove-trip::before{
  content: '';
  position:absolute;
  left: 0px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-image: url("../public/icon-delete.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-trip-image img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .saved-trips-page .logo img, .saved-trips-page .register-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .saved-trips-page .logo{
    width: 40px;
    height: 40px;
  }
  .saved-trips-page .register-icon {
    width: 50px;
    height: 50px;
  }
  .form-find-visa-header, .header {
    align-items: center;
  }
  .saved-trips-cards {
    padding: 0 20px;
  }
  .card-trip-image {
    width: 185px;
    height: 185px;
  }

}

@media (max-width: 425px) {
  .card-trip-image {
    width: 165px;
    height: 165px;
  }
  .card-trip-title {
    text-transform: capitalize;
  }
}
@media (max-width: 375px) {
  .card-trip-image {
    width: 150px;
    height: 150px;
  }
}



/** visa-details-page **/

.visa-details-page{
  background-image: url("../public/bg-visa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.visa-detail{
  max-width: 1145px;
  margin: 0 auto;
}
.visa-detail-title{
  margin-bottom: 25px;
}
.visa-detail-container{
  height:558px;
  background: #D9D9D9;
  color: #031B2D;
  padding: 15px 30px;
}

.visa-detail-container li{
  margin: 10px 0;
}

@media (max-width: 768px) {
  .loading-container{
    background: url("/background-loading-mobile.png"), lightgray 50% / cover no-repeat; 
  }
  .loading-container img{
    width:90%;
  }
  .visa-details-page a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .visa-details-page a{
    width: 40px;
    height: 40px;
  }
  .visa-detail-title {
    text-align: center;
    text-transform: capitalize;
  }
  .visa-detail {
    margin-top: 30px;
    padding: 0 20px;
  }
  .visa-detail-container {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
  }
}